<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome {{currentName}}
    </h1>
    <h1>December</h1>
  </div>
  <div style="display: inline-block; width: 200px; border:black solid 2px; text-align:center;">
    <h1>Monday</h1>
    <h2>4th</h2>
    <form (submit)="getnotes()">
      <textarea>{{person | json}}</textarea>
      <input type="submit" value="Submit">
      <input type="hidden" [value]="day">
    </form>
  </div>

  <p>{{note}} </p>
  <h1>{{journal}} </h1>
  
  
  
  